<h5>Editar usuario</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "user" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.text_field :first_name, autofocus: true, autocomplete: "name",class: "form-control form-control-user", placeholder:"Nuevo nombre" %>
  </div>

  <div class="form-group">
    <%= f.text_field :last_name, autofocus: true, autocomplete: "name",class: "form-control form-control-user", placeholder:"Nuevo apellido" %>
  </div>

  <div class="form-group">
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone",class: "form-control form-control-user", placeholder:"Nuevo telefono" %>
  </div>

  <div class="form-group">
    <%= f.text_field :address, autofocus: true, autocomplete: "address",class: "form-control form-control-user", placeholder:"Nueva direccion" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "password",class: "form-control form-control-user", placeholder:"Nueva contraseña...." %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "password_confirmation",class: "form-control form-control-user", placeholder:"Confirmar nueva contraseña...." %>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, autocomplete: "current_password", class: "form-control form-control-user", placeholder:"Contraseña actual...."%>
  </div>

  <div class="form-group">
    <%= f.submit "Actualizar", class: "btn btn-primary btn-user btn-block" %>
  </div>
<% end %>

<h6>Darme de baja</h6>

<div> <%= link_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro de eliminar tu cuenta?", turbo_confirm: "Estas seguro de eliminar tu cuenta?" }, method: :delete %></div>

<%= link_to "Regresar", :back %>
