<%= form_for @pet, { remote: true, multipart: true } do |f| %>
    <div class="form-group">
        <h4 class="control-label">Cuentanos sobre tu mascota!</h4>
    </div>

    <div class="item form-group<%= @pet.errors[:name].any? ? ' has-error has-feedback' : '' %> "> 
        <%= f.label :name, "Nombre de la mascota: "%>
        <div class="input-group">
            <%= f.text_field :name, {:class=>"form-control", :placeholder=>"Introduzca el nombre de la mascota"} %>
            <% if @pet.errors[:name].any? %>
                <p class="bg-danger"><%= @pet.errors[:name].to_s[/\w([^"]*)/]%></p>
            <% end %>
        </div>
    </div>

    <div class="item form-group<%= @pet.errors[:kind_id].any? ? ' has-error has-feedback' : '' %> "> 
        <%= f.label :kind_id, "Tipo de mascota: "%>
        <div class="input-group">       
            <%= f.collection_select :kind_id, @kinds, :id, :kind, { prompt: "Seleccione la mascota" }, { id: 'kind-select', class:"form-control" } %>
            <% if @pet.errors[:kind_id].any? %>
                <p class="bg-danger"><%= @pet.errors[:kind_id].to_s[/\w(["]*)/]%></p>
            <% end %>
        </div>
    </div>

    <div class="item form-group<%= @pet.errors[:breed_id].any? ? ' has-error has-feedback' : '' %> ">
        <%= f.label :breed_id, "Raza: "%>
        <div class="input-group">
            <% if @pet.breed_id == nil %>
                <%= f.collection_select :breed_id, [], :id, :name, { prompt: "Seleccione la fase" }, { id: 'breed-select', class:"form-control" } %>
            <% else %>
                <%= f.collection_select :breed_id, @breeds.where(kind_id: @pet.kind_id), :id, :name, { prompt: "Seleccione la raza" }, { id: 'breed-select', class:"form-control" } %>
            <% end %>
            <% if @pet.errors[:breed_id].any? %>
                <p class="bg-danger"><%= @pet.errors[:breed_id].to_s[/\w(["]*)/]%></p>
            <% end %>
        </div>
    </div>

    <div class="item form-group<%= @pet.errors[:phase].any? ? ' has-error has-feedback' : '' %> ">
        <%= f.label :phase, "Fase: "%>
        <div class="input-group">
            <% if @pet.size_id == nil %>
                <%= f.collection_select :phase, [], :phase, :age, { prompt: "Seleccione la fase" }, { id: 'phase-select', class:"form-control" } %>
            <% else %>
                <%= f.collection_select :phase, @quantities.where(size_id: @pet.size_id), :phase, :age, { prompt: "Seleccione la raza" }, { id: 'phase-select', class:"form-control" } %>
            <% end %>
            <% if @pet.errors[:phase].any? %>
                <p class="bg-danger"><%= @pet.errors[:phase].to_s[/\w(["]*)/]%></p>
            <% end %>
        </div>
    </div>
    
    <div class="item form-group<%= @pet.errors[:duration].any? ? ' has-error has-feedback' : '' %> "> 
        <%= f.label :duration, "Duracion: "%>
        <div class="input-group">
            <%= f.number_field :duration, {:class=>"form-control", :placeholder=>"Cuanto le dura el alimento"} %>
            <% if @pet.errors[:duration].any? %>
                <p class="bg-danger"><%= @pet.errors[:duration].to_s[/\w(["]*)/]%></p>
            <% end %>
        </div>
    </div>

    <div class="item form-group<%= @pet.errors[:last_purchase].any? ? ' has-error has-feedback' : '' %> "> 
        <%= f.label :last_purchase, "Ultima compra: "%>
        <div class="input-group">
            <%= f.date_field :last_purchase, {:class=>"form-control", :placeholder=>"Introduzca fecha de ultima compra", :value => Time.now.strftime('%Y-%m-%d') } %>
            <% if @pet.errors[:last_purchase].any? %>
                <p class="bg-danger"><%= @pet.errors[:last_purchase].to_s[/\w(["]*)/]%></p>
            <% end %>
        </div>
    </div>
 
    <div class="item form-group<%= @pet.errors[:product_id].any? ? ' has-error has-feedback' : '' %> "> 
        <%= f.label :product_id, "Producto: "%>
        <div class="input-group">
            <%= collection_select(:pet, :product_id, @products, :id, :name, {:prompt => 'Seleccione un producto'}, { class: "form-control" }) %>
            <% if @pet.errors[:product_id].any? %>
                <p class="bg-danger"><%= @pet.errors[:product_id].to_s[/\w(["]*)/]%></p>
            <% end %>
        </div>
    </div>

    <div class="item form-group<%= @pet.errors[:client_id].any? ? ' has-error has-feedback' : '' %> "> 
        <%= f.label :client_id, "Cliente: "%>
        <div class="input-group">
            <% if @pet.client_id == nil %>
                <%= collection_select(:pet, :client_id, @clients, :id, :name, {:prompt => 'Seleccione un cliente'}, { class: "form-control" }) %>
            <% else %>
                <%= collection_select(:pet, :client_id, @clients.where(:id => @pet.client_id), :id, :name, {:prompt => 'Seleccione un cliente'}, { class: "form-control" }) %>    
            <% end %>
            <% if @pet.errors[:client_id].any? %>
                <p class="bg-danger"><%= @pet.errors[:client_id].to_s[/\w(["]*)/]%></p>
            <% end %>
        </div>
    </div>


    <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        <%= f.submit @pet.new_record? ? "Crear mascota" : "Actualizar mascota", :class => "btn btn-success"%>

        <% unless @pet.new_record? %>
        <%= link_to "Borrar mascota", @pet, remote: true, method: :delete, data: {confirm: "Desea borrar la mascota #{@pet.name}?"}, class: "btn btn-danger btn-xs" %>
        <% end %>
    </div>

<% end %>