<h1 class="h3 mb-2 text-gray-800"> Mascotas</h1>

<div>
    <%= link_to new_pet_path, {remote: true, class: "btn btn-info", id: "add-cat-btn"} do %>
    <span class="fas fa-plus-square"></span>
    <% end %>
</div>
<br>

<div class="card shadow mb-4">
    <div class="card body">
        <div class="table-responsive">
            <table id='tablePets' class="table table-bordered" width="100">
                <thead>
                    <tr>   
                        <th style="text-align: center">Nombre</th>
                        <th style="text-align: center">Tipo</th>
                        <th style="text-align: center">Raza</th>
                        <th style="text-align: center">Edad</th>
                        <th style="text-align: center">Duracion</th>
                        <th style="text-align: center">Ultima compra</th>
                        <th style="text-align: center">Producto</th>
                        <th style="text-align: center">Cliente</th>
                        <th style="text-align: center">Accion a realizar</th>
                    </tr>
                </thead>
                <tbody>
                    <% @pets.each do |pet| %>
                        <tr id="pet_<%= pet.id %>" >
                            <td style="vertical-align: middle"><%= pet.name %></td>
                            <td style="vertical-align: middle"><%= pet.kind%></td>
                            <td style="vertical-align: middle"><%= pet.breed %></td>
                            <td style="vertical-align: middle"><%= pet.age %></td>  
                            <td style="vertical-align: middle"><%= pet.duration %></td>  
                            <td style="vertical-align: middle"><%= pet.last_purchase %></td>  
                            <td style="vertical-align: middle"><%= pet.product_id != nil ? pet.product.name : "Vacio" %></td>
                            <td style="vertical-align: middle"><%= pet.client_id != nil ? pet.client.name : "Vacio" %></td>
                            <td style="vertical-align: middle">
                            <%= link_to "Editar", edit_pet_path(pet), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                            <%= link_to "Borrar", pet, remote: true, method: :delete, data: {confirm: "Desea borrar la mascota #{pet.name}?"}, class: "btn btn-danger btn-xs" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%= render 'modal_pets'%>