$('#modalClients').modal('toggle');
$('#tableClients').append(
    '<tr id="client_<%= @client.id %>" ><td style="vertical-align: middle"><%= @client.name %></td><td style="vertical-align: middle"><%= @client.address %></td><td><%= @client.phone %></td><td style="vertical-align: middle"><%= link_to 'Editar', edit_client_path(@client), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @client, remote: true, method: :delete, data: { confirm: "¿Borrar cliente: #{@client.name}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);