<h1 class="h3 mb-2 text-gray-800"> Clientes</h1>

<div>
    <%= link_to new_client_path, {remote: true, class: "btn btn-info", id: "add-cat-btn"} do %>
    <span class="fas fa-plus-square"></span>
    <% end %>
</div>
<br>

<div class="card shadow mb-4">
    <div class="card body">
        <div class="table-responsive">
            <table id='tableClients' class="table table-bordered" width="100">
                <thead>
                    <tr>   
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Mascota</th>
                        <th>Accion a realizar</th>
                    </tr>
                </thead>
                <tbody>
                    <% @clients.each do |client| %>
                        <tr id="client_<%= client.id %>" >
                            <td style="vertical-align: middle"><%= client.name %></td>
                            <td style="vertical-align: middle"><%= client.address %></td>
                            <td style="vertical-align: middle"><%= client.phone %></td>
                            <td style="vertical-align: middle">                               
                                
                                <% @pets.where(:client_id => client.id).each do |pet| %>
                                <%= link_to pet.name, edit_pet_path(pet), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                                <% end %> 

                                <%= link_to new_pet_path, {remote: true, class: "btn btn-info", id: "add-cat-btn"} do %>
                                <span class="fas fa-plus-square"></span>
                                <% end %>                               
                            </td>
                            <td style="vertical-align: middle">
                            <%= link_to "Editar", edit_client_path(client), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                            <%= link_to "Borrar", client, remote: true, method: :delete, data: {confirm: "Desea borrar el cliente #{client.name}?"}, class: "btn btn-danger btn-xs" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%= render 'modal_clients'%>
<%= render 'pets/modal_pets'%>