<h1 class="h3 mb-2 text-gray-800"> Categorias de productos</h1>

<div>
    <%= link_to new_category_path, {remote: true, class: "btn btn-info", id: "add-cat-btn"} do %>
    <span class="fas fa-plus-square"></span>
    <% end %>
</div>
<br>

<div class="card shadow mb-4">
    <div class="card body">
        <div class="table-responsive">
            <table id='tableCategories' class="table table-bordered" width="100">
                <thead>
                    <tr>   
                        <th>Nombre Categoria</th>
                        <th>Descripcion</th>
                        <th>Accion a realizar</th>
                    </tr>
                </thead>
                <tbody>
                    <% @categories.each do |cat| %>
                        <tr id="category_<%= cat.id %>" >
                            <td style="vertical-align: middle"><%= cat.name %></td>
                            <td style="vertical-align: middle"><%= cat.description %></td>
                            <td style="vertical-align: middle">
                            <%= link_to "Editar", edit_category_path(cat), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                            <%= link_to "Borrar", cat, remote: true, method: :delete, data: {confirm: "Desea borrar la categoria #{cat.name}?"}, class: "btn btn-danger btn-xs" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%= render 'modal_categories'%>