$('#modalCategories').modal('toggle');
$('#category_<%= @category.id %>').replaceWith(
    '<tr id="category_<%= @category.id %>" ><td style="vertical-align: middle"><%= @category.name %></td><td style="vertical-align: middle"><%= @category.description %></td><td style="vertical-align: middle"><%= link_to 'Editar', edit_category_path(@category), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @category, remote: true, method: :delete, data: { confirm: "¿Borrar categoria: #{@category.name}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);