<h1 class="h3 mb-2 text-gray-800"> Productos</h1>

<div>
    <%= link_to new_product_path, {remote: true, class: "btn btn-info", id: "add-cat-btn"} do %>
    <span class="fas fa-plus-square"></span>
    <% end %>
</div>
<br>

<div class="card shadow mb-4">
    <div class="card body">
        <div class="table-responsive">
            <table id='tableProducts' class="table table-bordered" width="100">
                <thead>
                    <tr>   
                        <th style="text-align: center">Imagen</th>
                        <th style="text-align: center">Nombre</th>
                        <th style="text-align: center">Descripcion</th>
                        <th style="text-align: center">Existencia</th>
                        <th style="text-align: center">Precio</th>
                        <th style="text-align: center">Categoria</th>
                        <th style="text-align: center">Proveedor</th>
                        <th style="text-align: center">Accion a realizar</th>
                    </tr>
                </thead>
                <tbody>
                    <% @products.each do |product| %>
                        <tr id="product_<%= product.id %>" >
                            <td style="text-align: center"><%= image_tag(product.image.url, size: "40x50", class: "rounded-circle") if product.image? %></td>
                            <td style="vertical-align: middle"><%= product.name %></td>
                            <td style="vertical-align: middle"><%= product.description%></td>
                            <td style="vertical-align: middle"><%= product.existence %></td>
                            <td style="vertical-align: middle">$<%= product.price %></td>  
                            <td style="vertical-align: middle"><%= product.category != nil ? product.category.name : "Vacio" %></td>
                            <td style="vertical-align: middle"><%= product.supplier != nil ? product.supplier.name : "Vacio" %></td>
                            <td style="vertical-align: middle">
                            <%= link_to "Editar", edit_product_path(product), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                            <%= link_to "Borrar", product, remote: true, method: :delete, data: {confirm: "Desea borrar el producto #{product.name}?"}, class: "btn btn-danger btn-xs" %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%= render 'modal_products'%>