<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Rony Pets Food Planner</title>
        <!-- <link rel="icon" type="image/x-icon" href="/app/assets/favicon.ico" /> -->
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <%= javascript_include_tag 'jquery' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_link_tag "sb-admin-2.min" %>
    </head>

    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-info topbar sticky-top shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    <img src="https://ronypetsproducts.s3.amazonaws.com/logo.jpg" width="50" height="50" class="d-inline-block align-center rounded-circle" alt="">
                    Rony Pets Food Planner
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">
                              Compañia
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg-left">
                              <a class="dropdown-item" href="#">
                                <i class="fa fa-heart mr-2 text-gray-600"></i>
                                  Quienes somos
                              </a>
                              <a class="dropdown-item" href="#">
                                <i class="fa fa-question-circle mr-2 text-gray-600"></i>
                                  FAQ
                              </a>

                              <div class="dropdown-divider"></div>
                              
                              <a class="dropdown-item" href="#">
                                <i class="fas fa-sign-in fa-sm fa-fw mr-2 text-gray-600"></i>
                                  Ingreso Admin
                              </a>
                            </div>
                          </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Precios</a>
                      </li>
                    </ul>
                </div> 

                <ul class="navbar-nav ms-auto text-white">
                    <li class="nav-item"><a class="nav-link" href="<%=new_user_registration_path%>">Crear Cuenta</a></li>
                    <li class="nav-item"><a class="nav-link" href="<%=new_user_session_path%>">Iniciar sesion</a></li>
                </ul>
            </div>
        </nav>
        <!-- Navbar -->
      
        <!-- Background image -->
        <div
          class="p-5 text-center"
          style="
            background-image: url('https://ronypetsproducts.s3.amazonaws.com/banner_lp_4.jpg');
            height: 280px;
            background-size: cover;
            background-position: center;">

            <div class="row justify-content-center" style="background-color: rgba(0, 0, 0, 0);">
                    <div class="col-12 col-md-7 text-black-50 center">
                        <h1 class="center mb-3">Alimentar a Tu Mascota Nunca Fue Tan Facil y Economico</h1>
                        <h3 class="mb-3">Registrate e Inicia Ahora!</h3>
                        <a class="btn btn-primary btn-lg rounded-pill mt-1" href="#scroll" role="button"
                        >Conoce Más</a>
                    </div>
            </div>          
        </div>
        <!-- Background image -->
 
        <body id="page-top">
            <!-- Content section 1-->
            <section id="scroll">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <div class="p-5"><%= image_tag("ronypets.jpg", { alt: "...", class: "img-fluid"} ) %></div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <h2 class="display-4 text-black-50">Por que iniciar un plan de alimento programado?</h2>
                                <p>Tres razones principales, la salud de tu mascota, un alivio para tu economia y olvidate de quedarte sin alimento para
                                tu consentido, nosotros nos encargamos!. Al alimentar tu mascota solo con la cantidad que debe comer estaras impactando 
                                su salud al evitar multiples complicaciones causadas por el sobrepeso o la desnutricion, te garantizamos que gastaras menos
                                dinero en el alimento que compras y dejaras las desagradables sorpresas de quedarte sin alimento para el bebe de la casa!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content section 2-->
            <section>
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6">
                            <div class="p-5"><%= image_tag("food2.jpg", { alt: "...", class: "img-fluid rounded-circle"} ) %></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <h2 class="display-4 text-black-50">Como se cuanto debe comer mi mascota?</h2>
                                <p>Despreocupate!, en Rony Pets hemos construido un plan especial para cada tipo de mascota dependiendo de su raza, tamaño, edad y peso actual, asi como
                                    el tipo de linea de alimento que desees darle a tu mascota, solo con unos datos basicos de tu mascota contaras con un plan personalizado
                                    construido por veterinarios, obtendras lo que tu y tu hermosa mascota necesitan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Content section 3-->
            <section>
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-2">
                            <div class="p-5"><%= image_tag("home.jpg", { alt: "...", class: "img-fluid rounded-circle"} ) %></div>
                        </div>
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <h2 class="display-4 text-black-50">Como funciona?</h2>
                                <p>Una vez te registres y registres tu(s) mascota(s), podras elegir el plan que mejor se acople a tus necesidades, eligiendo la marca que uses actualmente
                                    o la marca recomendada por nuestro equipo, asi como debes elegir cada cuanto deseas recibir el alimento, semanal, quincenal o mensual, una vez inicies el plan
                                    nuestro equipo se encargara de enviarte la cantidad necesaria, y seguiremos enviandola de manera programada, el producto se enviara en un empaque especial y 
                                    en la primera compra, recibiras todas las recomendaciones de nuestros veterinarios asi como una gramera para que puedas darle a tu mascota la cantidad diaria
                                    correcta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Footer-->
            <div class="card-footer bg-dark">
                <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Rony Pets 2023</p></div>
            </div>
        </body>
    </header>
</html>
