<!DOCTYPE html>
<html>
  <head>
    <title>AppRonypets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "sb-admin-2.min" %>

  </head>

  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

  <body id="page-top">
      <!-- Page Wrapper -->
      <div id="wrapper">

          <!-- Content Wrapper -->
          <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-info topbar sticky-top shadow">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="<%=root_path%>">
                            <img src="https://ronypetsproducts.s3.amazonaws.com/logo.jpg" width="50" height="50" class="d-inline-block align-center rounded-circle" alt="">
                            Rony Pets
                        </a>
                            
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow navbar-nav">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-white" ><%= current_user.first_name %></span>
                                <img class="img-profile rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href=<%= edit_user_registration_path %>>
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configuración
                                </a>
                                
                                <div class="dropdown-divider"></div>
                                
                                <a class="dropdown-item" href= <%= destroy_user_session_path %> data-method="delete">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesion
                                </a>
                            </div>
                        </li>
                    </div>
              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
                <!-- Intro settings -->
                <style>
                    /* Default height for small devices */
                    #intro-example {
                    height: 400px;
                    }

                    /* Height for devices larger than 992px */
                    @media (min-width: 992px) {
                    #intro-example {
                        height: 600px;
                    }
                    }
                </style>

                <!-- Background image -->
                <!-- <div id="intro-example"class="p-5 bg-image"
                    style="
                    background-image: url('https://ronypetsproducts.s3.amazonaws.com/theme.jpg');
                    background-size: cover;
                    background-position: center;"> -->
                <div class="containter-fluid">
                    <div class="mb-4"></div>
                    <%= yield %>
                </div>
                <!-- Background image -->
              <!-- /.container-fluid -->

            </div>  
            <!-- End of Main Content -->
          </div>  
      </div>
      <!-- End of Page Wrapper -->


  </body>
</html>
